@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Columns Style Sheet
   Author: 
   Date:   

   Filename:   lht_columns.css

*/

/* Column Styles */
article {
	column-width: 260px;
	-moz-column-width: 260px;
	-webkit-column-width: 260px;
	column-gap: 20px;
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	widows: 2;
	orphans: 2;
	/* 22c */
}
